/*
 *
 * Print Stylesheet
 *
 */

/* Base Print Style Reset */
* { background: transparent !important; color: #000 !important; text-shadow: none !important; 
    -moz-box-shadow: none !important; -webkit-box-shadow: none !important; box-shadow: none !important;}
a, a:visited { text-decoration: none; color: black }
/* a:after { content: " (" attr(href) ")"; } */
abbr:after { content: " (" attr(title) ")"; }
.ir a:after { content: ""; }  /* Don't show links for images */
pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
thead { display: table-header-group; } /* css-discuss.incutio.com/wiki/Printing_Tables */ 
tr, img { page-break-inside: avoid; }
@page { margin: 0.5cm; }
p, h2, h3 { orphans: 3; widows: 3; }
h2, h3{ page-break-after: avoid; }

body {
  font-family: "Helvetica Neue",Arial,Helvetica,sans-serif;
  background: white;
  font-size: 9pt;
}

/* hide stuff */
#logo,
#crossbar,
#login-area,
#subnav,
.action-bttn,
#new_report,
form.edit_report,
.csv,
a.back { display: none; clear: both; }

/* format stuff */
#header {
  margin: 0 auto 1em;
}
#header a {
  text-decoration: none;
}
#main {
  border-top: 1pt solid #000;
}
h1 {
  margin-bottom: 0;
}
h1+h2 {
  margin-top: 0;
}
h2 {
  margin-bottom: 3px;
}

.indent {
  padding-left: 25px;
}
/* tables */
table {
    border-collapse: collapse;
    margin-bottom: 5px;
}
table .definition {
}
table .number {
  text-align: right;
}
thead {
  border-bottom: 2pt solid #000;
}
tfoot {
  border-top: 2pt solid #000;
  font-weight: bold;
}
tr {
}
tr.report-item td {
  border-top: 1pt solid #000;
}
table tr.begin-group td {
  border-top: 3px solid #000;
}
tr.sum-totals td {
  border-top: 2pt solid #000;
  padding-top: 1.5em;
}
tr.sub-header th {
}
th {
  padding: 0.2em 0.7em;
  font-weight: bold;
}

td {
  padding: 0.2em 0.7em;
  border-top: 1pt solid #ddd;
}
td.report-item {
  font-weight: bold;
  text-align: left;
}
td.total {
  font-weight: bold;
  text-align: right;
  border-top: 1pt solid black;
  padding-bottom: 1em;
}

body.surveyor h3 {
  margin-bottom: 0;
  padding-left: 0.125in;
}

body.surveyor p.response {
  margin-top: 0;
  padding-left: 0.25in;
}

div.fieldset {
  border: 0;
}

div.page-header {
  border : 0;
}
