<tr id="case_route_<%= "%s_%s" % [kase.id, route.id] %>">
<td><%= route.name %></td>
<% if edit %>
<td><%= link_to "x", delete_route_cases_path(:case_id=>kase.id, :route_id=>route.id), {:remote=>true, :method=>:post, :class=>"case_route_row"} %></td>
<% end %>
</tr>
