<h1>Cases</h1>
<table>
<% for kase in @customer.cases %>
<td><%= kase.open_date %> -</td>
<td><%= kase.disposition.name %></td>
<td><%= link_to "Details", kase %></td>

<% end %>
<% if can? :edit, @customer %>
<%= link_to "Add", new_case_path(:customer_id=>@customer.id) %><br/>
<% end %>
