<h1>Cases</h1>
<table>
<% for kase in @customer.kases %>
<tr>
<td><%= kase.open_date %> -</td>
<td><%= kase.disposition.name %></td>
<td><%= link_to "Details", kase %></td>
</tr>
<% end %>
</table>

<% if can? :edit, @customer %>
<%= link_to "Add", new_kase_path(:customer_id=>@customer.id) %><br/>
<% end %>
